.dashboard {
  justify-content: center;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.dashboard__top {
  display: flex;
  z-index: -1;
  margin-left: 5px;
  margin-right: 5px;
  column-gap: 15px;
}

.row__back {
  /* display: flex; */
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 6%;
  border-radius: 20px;
  column-gap: 20px;
  align-items: center;
}

.mt-6{
  margin-left: 5000%;
}