.update {
    margin: 7em;
    
  }
  
  /* .up{
      margin: 3em;
      overflow-x: hidden;
  } */
  
  .update h2 {
    text-align: center;
    color: #285c79;
    background-color: #e7ecee;
  }
  
  .top__input {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
    position: sticky;
    justify-content: center;
  }
  
  .form__bottom {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  .bottom_down {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    margin-top: 13px;
  }
  
  .bottom_down > label {
    padding-right: 5px;
    color: #285c79;
  }
  
  .options {
    border-radius: 3px;
    height: 40px;
    outline: none;
    margin-left: 10px;
  }
  
  .options:active {
    outline: none;
    /* border: 2px solid rgba(3, 162, 255, 0.945); */
    box-shadow: 0 0 1px 2px rgba(50, 153, 252, 7);
  }
  
  input[type="date"] {
    margin-left: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(224, 224, 224);
    padding: 5px;
    border-radius: 4px;
  }
  
  form > button {
    justify-content: center;
    align-items: center;
  }
  